<div class="row" ng-init="loadLanguages()">
    <table class="table" align="center">
        <tbody>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" name="description" id="description" ng-model="description"/></td>
        </tr>
        <tr>
            <td><label>Code</label></td>
            <td>
                <textarea style="resize: none" name="code" id="code" ng-model="code" cols="18" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td><label>Repository</label></td>
            <td><input type="text" name="repository" id="repository"
                       ng-model="repository"/></td>
        </tr>
        <tr>
            <td><label>Language</label></td>
            <td><select style="color:black" type="text" name="programmingLanguage" id="programmingLanguage"
                        ng-options="item for item in LANGUAGES" ng-model="programmingLanguage">
                <option value="">Select Language</option>
            </select></td>
        </tr>
        </tbody>
    </table>
    <form ng-submit="addSnippet()" role="form">
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
</div>