<div class="row" ng-init="loadUsers()" ng-show="isLogged()">
    <label>Search:
        <input ng-model="searchText" id="searchText" name="searchText" ng-change="filterUsers()">
    </label>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Role</th>
            <th>Block</th>
            <th>Unblock</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="u in USERS track by $index">
            <td> {{u.username}} </td>
            <td> {{u.firstName}} </td>
            <td> {{u.lastName}} </td>
            <td> {{u.role}} </td>
            <td>
                <form ng-submit="block(u)" role="form" ng-show="ableToBlock(u)">
                    <button class="btn btn-link" type="submit" >Block</button>
                </form>
            </td>
            <td>
                <form ng-submit="unblock(u)" role="form" ng-show="ableToUnblock(u)">
                    <button class="btn btn-link" type="submit" >Unblock</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>