<div class="row" align="center" ng-init="isLogged()">
    <label>Login</label><br/><br/>
    <form ng-submit="login()" role="form">
        <label>Username</label>
        <input type="text" name="username" id="username" ng-model="username"/>
        <br/><br/>
        <label>Password</label>
        <input type="password" name="password" id="password" ng-model="password"/>
        <br/><br/>
        <button type="submit" class="btn btn-primary">Login</button>
    </form><br/><br/>
    <form ng-submit="loginAsGuest()" role="form">
    <button type="submit" class="btn btn-link">Login as guest</button>
    </form>
</div>