<div class="row" ng-init="loadLanguages()">
    <h2>Personal user information</h2>
    <table id="tabela1"  class="table table-striped table-hover">
        <thead>
        <tr>
            <th>First name: </th>
            <th>Last name: </th>
            <th>Username: </th>
            <th>E-mail: </th>
            <th>Address: </th>
            <th>Phone: </th>
            <th>Picture</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{USER.firstName}}</td>
            <td>{{USER.lastName}}</td>
            <td>{{USER.username}}</td>
            <td>{{USER.email}}</td>
            <td>{{USER.address}}</td>
            <td>{{USER.phone}}</td>
            <td>SLIKA</td>

        </tr>
        </tbody>
    </table>
</div>
</div>