<div class="row" ng-init="loadDetailedSnippet()" ng-show="isLogged()">
    <div>
        <h3><b style="color: #df691a; margin-right: 20px">Description:</b> {{currentSnippet.description}}</h3>
        <hr>
        <div>
            <textarea style="float: left; display: inline-block; resize: none" cols="80" rows="20">{{currentSnippet.code}}</textarea>

            <div style=" float:left" class="row-fluid">
                <div style="margin-left: 40px; width: 300px; height: 300px;" class="span2">
                    <img style="height: 300px; width: 300px" src={{currentSnippet.user.picture}}>
                </div>

                <div style="margin-left: 40px; overflow: hidden; height: inherit; ;text-align: left " class="span8">
                    <h4><b style="text-align: center; margin-left:15px; color: #df691a">posted by:</b> {{currentSnippet.user.username}}</h4>
                    <h4><b style="text-align: center; margin-left:15px;color: #df691a">tagged language:</b> {{currentSnippet.programmingLanguage}}</h4>

                </div>
            </div>
        </div>
        <div style="clear:left">
            <form style="float: left" ng-show="ableToDelete()" ng-submit="deleteSnippet()" role="form">
                <button class="btn btn-link" type="submit" >Remove snippet</button>
            </form>
            <form style="float: left" ng-show="ableToBlock()" ng-submit="blockSnippet()" role="form">
                <button class="btn btn-link" type="submit" >Block snippet</button>
            </form>
            <form style="float: left" ng-show="ableToUnblock()" ng-submit="unblockSnippet()" role="form">
                <button class="btn btn-link" type="submit" >Unblock snippet</button>
            </form>
        </div>
        <br>
        <br>
        <br>
        <h5 style="float: left">Comments: </h5>
        <form ng-submit="sortComments()" role="form">
            <button class="btn btn-link" type="submit" >Sort comments</button>
        </form>
        <div ng-repeat="c in currentSnippet.comments track by $index">
            <table	class="table table-striped table-hover">
                <tbody>
                <tr>
                    <td>
                        <div>
                            <button ng-disabled="!ableToRate(c)" style="float: left; clear: both;" ng-click="rateUp(c)"><img src="resources\css\icons\vote_up_icon.png"/></button>

                        </div>
                        <a style="display: inline; margin-left: 5px; margin-top: 8px">{{c.grade.positive}}</a>
                        <div style="margin-top: 3px">
                            <button ng-disabled="!ableToRate(c)" style="float: left; clear: both;" ng-click="rateDown(c)"><img src="resources\css\icons\vote_down_icon.png"/></button>
                        </div>
                        <a style=" float:left; margin-left: 5px; margin-top: 5px">{{c.grade.negative}}</a>
                    </td>
                    <td>
                        <textarea style="resize: none" cols="90" rows="3">{{c.text}}</textarea>
                    </td>
                    <td >
                        <div style="text-align: right" class="row-fluid">
                            <div style="width: 55px; height: 55px; float:left;" class="span2">
                                <img style="height: 55px; width: 55px" src={{c.user.picture}}>
                            </div>

                            <div style="overflow: hidden; height: inherit; text-align: left " class="span8">
                                <h8><b style="margin-top: 10px; margin-left:15px; color: #df691a">answered:</b> {{parseTimestamp(c.time)}}</h8><br>
                                <h8><b style="margin-left:15px;color: #df691a">user:</b> {{c.user.username}}</h8>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button ng-show="ableToDeleteComment(c)" ng-click="deleteComment(c)"><img src="resources\css\icons\remove_icon.png"/></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <form ng-show="ableToComment()" ng-submit="commentSnippet(myComment)" role="form">
            <input type="text" id="myComment" name="myComment" ng-model="myComment"/>
            <button class="btn btn-primary" type="submit">Comment</button>
        </form>
        <hr/>
    </div>
</div>